.header {
  padding: 1rem 5rem;
  background-color: $light-color;
  &__wrapper {
    padding: 0.5rem 0;
    display: flex;
    justify-content: flex-end;
  }

  &__avatar {
    justify-self: flex-end;
    display: flex;
    align-items: center;
    border: 1px solid $body-color;
    padding: 0.5rem 2rem 0.5rem 0;
    border-radius: 0.5rem;
    background-color: $light-color;
    transition: 0.5s ease;
    &:hover {
      background-color: $body-color;
    }
    img {
      border-radius: 50%;
      width: 4rem;
    }

    .avatar__block {
      margin-left: 2rem;
    }
  }

  .avatar__block {
    margin-right: 1rem;

    h3 {
      font-weight: bold;

      font-size: 1.4rem;
    }

    small {
      text-transform: uppercase;
      font-size: 1.2rem;
    }
  }
}
