$primary-color: hsl(200, 84%, 50%);
$primary-color-1: hsl(200, 84%, 30%);

$dark-color: hsl(210, 9%, 17%);
$dark-color-1: hsl(214, 6%, 51%);

$light-color: hsl(0, 0%, 99%);
$light-color-1: hsl(0, 0%, 90%);

$gray-color: hsl(0, 0%, 70%);

$body-color: hsl(0, 0%, 95%);

$green-color: hsl(155, 64%, 32%);
$green-color-1: hsl(155, 64%, 22%);

$red-color: hsl(7, 80%, 38%);
$red-color-1: hsl(7, 80%, 28%);
