.d {
  &--grid {
    display: grid;
  }
  &--flex {
    display: flex;
  }
}

.bg {
  &--green {
    background-color: $green-color !important ;
  }

  &--red {
    background-color: $red-color !important ;
  }

  &--primary {
    background-color: $primary-color !important ;
  }
}
